body{
    font-family: 'Inter', sans-serif;
}
.logo:hover{
    cursor: pointer;
}

nav{
    padding: 20px;
    color: rgb(73, 73, 73);
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width:148px;
    height: 26.99px;
}

.lists{
    font-size: 18px;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    cursor: pointer;
}

li:hover{
    color: #8e2424;
    transition: color 0.3s;
}

.buttons{
    padding: 0;
    
}

.entrar{
    font-size: 18px;
    background-color: white;
    color: rgb(73, 73, 73);
    border: none;
    width: 83px;
    height: 44px;
    cursor: pointer;
}

.entrar:hover{
    color: #8e2424;
    transition: color 0.3;
}

.cadastrar{
    width: 112px;
    height: 44px;
    border: none;
    border-radius: 10px;
    background-color: #8e2424;
    color:white ;
    font-size: 18px;
    cursor: pointer;
}

.cadastrar:hover{
    color:black;
    transition: color 0.3s;
}

button{
    border: none;
    background-color: white;
    width: 142px;
    height: 32px;
}